<div style="height: 100vh;">
<div id="blur" class="container text-start mt-5">
<div class="row">
    <div class="col d-flex justify-content-center">
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="mb-3">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
                <p class="text-danger" *ngIf="!signupForm.controls['name'].valid && signupForm.controls['name'].touched">name doesn't respect proper form</p>
            </div>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username">
                <p class="text-danger" *ngIf="!signupForm.controls['username'].valid && signupForm.controls['username'].touched">username doesn't respect proper form</p>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" formControlName="email">
                <p class="text-danger" *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">email doesn't respect proper form</p>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" >
                <p class="text-danger" *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">password doesn't respect proper form</p>

            </div>
            <button type="submit" class="btn btn-primary font-monospace" [disabled]="!signupForm.valid">S I G N U P</button>
        </form>

    </div>

  </div>
</div>
</div>
